body {
    font-family: Arial, sans-serif;
    margin: 30;
    padding: 30;
}

header {
    background-color: #212529;
    color: #fff;
    padding: 30px;
    text-align: center;
}

h1 {
    margin: 0;
}

/* Tambahkan gaya tambahan sesuai kebutuhan Anda */
body {
    font-family: Arial, sans-serif;
    margin: 30;
    padding: 30;
}

header {
    background-color:  #212529;
    color: #fff;
    padding: 30px;
    text-align: center;
}

h1 {
    margin: 0;
}

/* Tambahkan gaya tambahan sesuai kebutuhan Anda */

